*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;

}
/*#FAA0A0 #C9A9A6*/
body {
    background: #C9A9A6;
    color: #811331; /* this is for text and above is main background color*/
    overflow: hidden;
    overflow-y: scroll;
}